#caixa {
	width: 300px;
	height: 300px;
	margin: 10px;
	background: url("../img/camera.png");
	/* background: linear-gradient( to right, red, yellow); */
	border: 1px solid red;
}

#caixa h1 {
	/* background: rgba(255, 255, 255, 0.5); */
}